html {
  font-size: 15px;
}

@media (min-width:960px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-width: 980px;
}
header {
    min-width: 200px;
    height: 150px;
    text-decoration: none;
}
.header-right {
    float: right;
    padding-right: 200px;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    
}
    .header-right a {
        text-decoration: none;
        color: black;
    }
    .header-right a:hover {
       
        color: black;
    }

.logo {
    margin-left: 500px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
  
   
}
.logo a {
        text-decoration: none;
        color:black;
    }
    .logo a:hover {
    color:black;
    }

.nvmbartext {
    font-family: 'Times New Roman', Times, serif;
}

body {
    
   
}
.navbar {
   text-align:center;
}

footer {
   
    background-color: antiquewhite;
    height: 120px;
    bottom: 0;
    position: relative;
}