@model List<CategoryProductModel>
@{
     
        @foreach (var category in Model)
        {
        <a class="dropdown-item" asp-controller="CategoryProduct" asp-action="CategoryList" asp-route-id="@category.ID">
            @category.CategoryName
        </a>
        }
}
