@model List<CustomerCartListModel>
@{
    Layout = "_Layout";
}
@{
    <div><h4>Your Cart </h4></div>
    if (Model != null&&Model.Count>0)
    {


        <div>
            <table border="1">
                <tr>
                    <td>Product Name</td>
                    <td>Quantity</td>
                </tr>
               
                @foreach(var cart in Model)
                {
                    <form method="post" asp-action="DecreaseCart" asp-controller="Customer">

                    <tr>
                        <td>@cart.ProductName</td>
                        <td>@cart.Quantity</td>
                        <td>+</td>   
                        <td> <input value="-"  class="btn btn-danger" type="submit"  /></td>
                        <input type="hidden" name="ProductID" value="@cart.ProductID" />
                        
                    </tr>
                    </form>
                    } 
                   
            </table>
        </div>
        <div><a class="btn btn-dark" asp-action="CreditCart" asp-controller="Customer">Buy</a></div>


    }
    else
    {
       <p>Your Cart is empty</p>    
    }
}