@model List<CustomerCartListModel>
@{
    Layout = "_Layout";
}
@{
    <div><h4>Your Cart </h4></div>
    if (Model != null)
    {


        <div>
            <table border="1">
                <tr>
                    <td>Product Name</td>
                    <td>Quantity</td>
                </tr>
                @foreach(var cart in Model)
                {
                    <tr>
                        <td>@cart.ProductName</td>
                        <td>@cart.Quantity</td>
                        <td>+</td><td><a class="btn btn-danger"asp-route-id="@cart.ProductID" asp-action="DecreaseCartList" asp-controller="Customer">-</a></td>
                    </tr>
                }
            </table>
        </div>
        <div><a class="btn btn-dark" asp-action="CreditCart" asp-controller="Customer">Buy</a></div>
    }
}