@{
    Layout = "_Layout";
}
<div><a asp-action="PurchasedProductList" asp-controller="Customer" class="btn btn-success">Purchased Products List</a>  &nbsp;&nbsp; <a asp-action="Edit" asp-controller="Customer" class="btn btn-success">Edit Profile</a></div>
