@model List<List<PurchaseProduct>>
@{
    Layout = "_Layout";
}
@{
    <div><h2>Your Purchased Cart </h2></div>
    if (Model != null && Model.Count > 0)
    {


        <div>
            

                @{
                    foreach (var cartlist in Model)
                {
                    double totalprice = 0;
                    <table border="1" class="table table-bordered">
                        <tr><td>Date</td>
                            <td>Product Name</td>
                            <td>Quantity</td>
                            <td>Price</td>
                            
                        </tr>
                        
                        @foreach (var cart in cartlist)
                        {
                            <tr>
                                <td>@cart.PurcaseDate</td>
                                <td>@cart.ProductName</td>
                                <td>@cart.Quantity</td>
                                <td>@cart.Price</td>
                                @{

                                     totalprice += cart.Quantity * cart.Price;


                                }
                               
                               
                            </tr>
                        }
                        <td>Total:@totalprice $</td>
                    </table>
                        <br />
                    }
                }
                
                
            
        </div>
    }
    else
    {
        <p>Your Purchased Cart is empty</p>
    }
}
