@model LoginModel
@{
    Layout = "_Layout";
}


<table border="1" class="table">
    <tr> <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Login">Customer Login</a></tr>
    <tr> <a class="nav-link text-dark" asp-area="" asp-controller="Seller" asp-action="Login">Seller Login</a></tr>
    <tr><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Login">Admin Login</a></tr>
</table>