@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<h1 style="font-family:'Times New Roman', Times, serif">You are not authorised to enter this area. </h1>