@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<CategoryProductModel>
@{
    Layout = "_Layout";
}@{
    if (Model != null )
    {
        <div><a asp-action="Create" asp-controller="CategoryProduct" class="btn btn-success" >New Category</a></div>
        <table class="table">
            <thead>
                <tr>
                    
                    <td>Category</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        
                        <td>@category.CategoryName</td>
                        <td>
                            <a asp-action="Edit" asp-controller="CategoryProduct" asp-route-id="@category.ID" class="btn btn-outline-warning">Edit</a>
                            <a asp-action="Remove" asp-controller="CategoryProduct" asp-route-id="@category.ID" class="btn btn-danger ">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>
        bulunamadı
        </div>
    }
}
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Category", "CategoryProduct", new { page }))